<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- MyBatis의 여러 가지 환경설정 -->
	
	<!-- 데이터베이스의 테이블 이름, 컬럼 이름들을 정의 -->
	<properties>
		 <!-- BOARDS 테이블 관련 상수들 -->
		<property name="TBL_BOARDS" value="boards"/>
		<property name="COL_BOARD_NO" value="board_no"/>
		<property name="COL_BOARD_MODE" value="board_mode"/>
		<!-- USER 테이블의 user_nickname 컬럼 이름은 동일하므로 생략 -->
		<property name="COL_BOARD_TITLE" value="board_title"/>
		<property name="COL_BOARD_CONTENT" value="board_content"/>
		<property name="COL_BOARD_UPDATE_TIME" value="board_update_time"/>
		<property name="COL_BOARD_VIEW_CNT" value="board_view_cnt"/>
		<property name="COL_BOARD_REPLY_CNT" value="board_reply_cnt"/>
		
		
		<!-- BOARD_REPLIES 관련 상수들 -->
		<property name="TBL_BOARD_REPLIES" value="board_replies"/>
		<property name="COL_BOARD_REPLY_NO" value="board_reply_no"/>
		<property name="COL_BOARD_REPLY_CONTENT" value="board_reply_content"/>
		<!-- USER 테이블의 user_nickname 컬럼 이름은 동일하므로 생략 -->
		<property name="COL_BOARD_REPLY_UPDATE_TIME" value="board_reply_update_time"/>
		<!-- BOARD 테이블의 board_no 컬럼 이름은 동일하므로 생략 -->

	
	
		<!-- MOVIE 테이블 관련 상수들 -->
		<property name="TBL_MOVIES" value="movies"/>
		<property name="COL_MOVIE_NO" value="movie_no"/>
		<property name="COL_MOVIE_TITLE" value="movie_title"/>
		<property name="COL_MOVIE_DIRECTOR" value="movie_director"/>
		<property name="COL_MOVIE_ACTOR" value="movie_actor"/>
		<property name="COL_MOVIE_GENRE" value="movie_genre"/>
		<property name="COL_MOVIE_INFO" value="movie_info"/>
		<property name="COL_MOVIE_RELEASE" value="movie_release"/>
		<property name="COL_MOVIE_CONTENT" value="movie_content"/>
		<property name="COL_MOVIE_TRAILER" value="movie_trailer"/>
		<property name="COL_MOVIE_IMAGE" value="movie_image"/>
		<property name="COL_MOVIE_UPDATE_TIME" value="movie_update_time"/>
		
		<!-- MOVIE_REPLIES 테이블 관련 상수들 -->
		<property name="TABLE_MOVIE_REPLIES" value="movie_replies" />
		<property name="COL_MOVIE_REPLY_NO" value="movie_reply_no" />
		<property name="COL_MOVIE_REPLY_CONTENT" value="movie_reply_content" />
		<property name="COL_MOVIE_REPLY_UPDATE_TIME" value="movie_reply_update_time" />	
	
	
		<!-- USERS 테이블 관련 상수들 -->
		<property name="TABLE_USERS" value="users" />
		<property name="COL_USER_NO" value="user_no" />
		<property name="COL_USER_ID" value="user_id" />
		<property name="COL_USER_NICKNAME" value="user_nickname" />
		<property name="COL_USER_PWD" value="user_pwd" />
		<property name="COL_USER_EMAIL" value="user_email" />
		<property name="COL_USER_UPDATE_TIME" value="user_update_time" />
		<property name="COL_USER_KEY" value="user_key" />
		<property name="COL_USER_POSITION" value="user_position" />
		
		<!-- EVENTS 테이블 관련 상수들 -->
		<property name="TABLE_EVENTS" value="events" />
		<property name="COL_EVENT_NO" value="event_no" />
		<property name="COL_EVENT_TITLE" value="event_title" />
		<property name="COL_EVENT_THUMB" value="event_thumb" />
		<property name="COL_EVENT_CONTENT" value="event_content" />
		<property name="COL_EVENT_START_TIME" value="event_start_time" />
		<property name="COL_EVENT_LAST_TIME" value="event_last_time" />
		
		<!-- EVENT_REPLIES 테이블 관련 상수들 -->
		<property name="TABLE_EVENT_REPLIES" value="event_replies" />
		<property name="COL_EVENT_REPLY_NO" value="event_reply_no" />
		<property name="COL_EVENT_REPLY_CONTENT" value="event_reply_content" />
		<property name="COL_EVENT_REPLY_UPDATE_TIME" value="event_reply_update_time" />	
		
		
	</properties>
	
	<typeAliases>
		<package name="com.spring.pjt.domain"/>
	</typeAliases>

</configuration>
