<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- MyBatis의 여러 가지 환경설정 -->
	
	<!-- 데이터베이스의 테이블 이름, 컬럼 이름들을 정의 -->
	<properties>
		<!-- USERS 테이블 관련 상수들 -->
		<property name="TABLE_USERS" value="users" />
		<property name="COL_USER_NO" value="user_no" />
		<property name="COL_USER_ID" value="user_id" />
		<property name="COL_USER_NICKNAME" value="user_nickname" />
		<property name="COL_USER_PWD" value="user_pwd" />
		<property name="COL_USER_EMAIL" value="user_email" />
		<property name="COL_USER_UPDATE_TIME" value="user_update_time" />
		<property name="COL_USER_KEY" value="user_key" />
	</properties>
	
	<typeAliases>
		<package name="com.spring.pjt.domain"/>
	</typeAliases>

</configuration>