<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.pjt.mapper.BoardMapper">

	<!-- 게시글 전체 검색 -->
	<select id="selectAllBoard" resultType="Board">
		SELECT * FROM ${TBL_BOARDS}
		ORDER BY ${COL_BOARD_MODE} DESC, ${COL_BOARD_NO} DESC
	</select>

    <!-- 글 번호로 검색 -->
    <select id="selectByBno" resultType="Board">
    SELECT * FROM ${TBL_BOARDS} 
    WHERE ${COL_BOARD_NO} = #{board_no}
    </select>

  
    <!-- 새 글 작성: 
        board_no: 시퀀스 - 자동 입력, board_update_time: 기본값 sysdate, view_cnt: 기본값 0, reply_cnt: 기본값 0
    -->
    <insert id="create">
    INSERT INTO ${TBL_BOARDS} (${COL_BOARD_TITLE}, ${COL_BOARD_CONTENT}, ${COL_USER_NICKNAME}, ${COL_BOARD_MODE}) 
    VALUES (#{board_title}, #{board_content}, #{user_nickname}, #{board_mode})
    </insert>
    
    <!-- 게시글 수정: 해당 글 번호의 글 제목, 내용 수정. reg_date는 수정하는 서버 시간. -->
    <update id="update">
    UPDATE ${TBL_BOARDS} 
    SET ${COL_BOARD_TITLE} = #{board_title}, ${COL_BOARD_CONTENT} = #{board_content}, ${COL_BOARD_UPDATE_TIME} = sysdate 
    WHERE ${COL_BOARD_NO} = #{board_no}
    </update>
    
    <!-- 게시글의 view_cnt를 1 증가 -->
    <update id="updateViewCnt">
    UPDATE ${TBL_BOARDS} 
    SET ${COL_BOARD_VIEW_CNT} = ${COL_BOARD_VIEW_CNT} + 1 
    WHERE ${COL_BOARD_NO} = #{board_no}
    </update>
    
    <!-- 해당 글 번호의 게시글 삭제 -->
    <delete id="delete">
    DELETE FROM ${TBL_BOARDS} 
    WHERE ${COL_BOARD_NO} = #{board_no}
    </delete>
    
    <update id="updateBoardReplyCnt">
    UPDATE ${TBL_BOARDS}
    SET ${COL_BOARD_REPLY_CNT} = ${COL_BOARD_REPLY_CNT} + #{increase}
    WHERE ${COL_BOARD_NO} = #{board_no}
    </update>
    
    
    <!-- 키워드 검색: (1) 제목, (2) 내용, (3) 제목+내용, (4) 작성자 -->
    <!-- Dynamic Query -->
    <select id="selectByKeyword" resultType="Board">
    SELECT * FROM ${TBL_BOARDS}
        <if test="type == 1">
        WHERE lower(${COL_BOARD_TITLE}) LIKE #{keyword}
        </if>
        <if test="type == 2">
        WHERE lower(${COL_BOARD_CONTENT}) LIKE #{keyword}
        </if>
        <if test="type == 3">
        WHERE lower(${COL_BOARD_TITLE}) LIKE #{keyword}
            OR lower(${COL_BOARD_CONTENT}) LIKE #{keyword}
        </if>
        <if test="type == 4">
        WHERE lower(${COL_USER_NICKNAME}) LIKE #{keyword}
        </if>
    ORDER BY ${COL_BOARD_NO} DESC
    </select>
    
    <!-- Board 페이징 기능 전체 게시글 로드 후 rownum 지정 -->
    <select id="pagingList" resultType="Board">
		<![CDATA[
		select * from (
			select /*+ INDEX_DESC(BOARDS BOARDS_pk) */
			rownum as rn, board_no, board_mode, board_title, board_content, user_nickname, board_update_time, Board_view_cnt, board_reply_cnt
			from boards
			where rownum <= #{pageNum} * #{contents}
			)
		where rn > (#{pageNum} - 1) * #{contents}
		ORDER BY ${COL_BOARD_MODE} DESC, ${COL_BOARD_NO} DESC
		]]>
    </select>
    
    <select id="getTotalContents" resultType="int">
    	select count(*) from BOARDS
	</select>
	
    <update id="updateNickname">
    UPDATE ${TBL_BOARDS} 
    SET ${COL_USER_NICKNAME} = #{user_nickname}
    WHERE ${COL_BOARD_NO} = #{board_no}
    </update>
    
    <select id="findBoardNo" resultType="Integer">
	SELECT ${COL_BOARD_NO} FROM ${TBL_BOARDS}
	WHERE ${COL_USER_NICKNAME} = #{user_nickname}
    </select>	
    
</mapper>
