<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.pjt.mapper.LikeMapper">

	<!-- 해당 사용자의 좋아요 이력을 검색 -->
	<select id="selectAllLike" resultType="Object">
		SELECT ${COL_MOVIE_NO} FROM ${TABLE_LIKES}
		WHERE ${COL_USER_NO} = #{user_no}
	</select>
	
	<select id="selectLike" resultType="Object">
		SELECT ${COL_MOVIE_NO} FROM ${TABLE_LIKES}
		WHERE ${COL_USER_NO} = #{user_no} and ${COL_MOVIE_NO} = #{movie_no}
	</select>

	<insert id="insertLike">	
    INSERT INTO ${TABLE_LIKES} (${COL_MOVIE_NO}, ${COL_USER_NO}) 
    VALUES (#{movie_no}, #{user_no})
    </insert>
    
    <delete id="deleteLike">
    DELETE FROM ${TABLE_LIKES} 
    WHERE ${COL_MOVIE_NO} = #{movie_no} and ${COL_USER_NO} = #{user_no}
    </delete>










</mapper>