<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.pjt.mapper.MovieMapper">

<!-- 영화 전체 검색 -->
<select id="selectAll" resultType="Movie">
    SELECT * FROM ${TBL_MOVIES} 
    ORDER BY ${COL_MOVIE_NO} DESC
</select>

<!-- 영화 no 검색 -->
<select id="selectMovieNo" resultType="Movie">
	SELECT * FROM ${TBL_MOVIES}
	WHERE ${COL_MOVIE_NO} = #{movie_no}
</select>







</mapper>