<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.pjt.mapper.RatingMapper">

	<!-- 해당 사용자가 해당 영화에 별점을 준 이력이 있는지 검색 -->
	<select id="selectGratingRecord" resultType="Object">
		SELECT ${COL_SCORE} FROM ${TABLE_SCORES}
		WHERE ${COL_MOVIE_NO} = #{movie_no} and ${COL_USER_NO} = #{user_no}
	</select>
	
	<insert id="create">
    INSERT INTO ${TABLE_SCORES} (${COL_SCORE}, ${COL_MOVIE_NO}, ${COL_USER_NO}) 
    VALUES (#{movie_score}, #{movie_no}, #{user_no})
    </insert>
    
    <update id="update">
    UPDATE ${TABLE_SCORES} 
    SET ${COL_SCORE} = #{movie_score}, ${COL_SCORE_UPDATE_TIME} = sysdate 
    WHERE ${COL_MOVIE_NO} = #{movie_no} and ${COL_USER_NO} = #{user_no}
    </update>
    
    <delete id="delete">
    DELETE FROM ${TABLE_SCORES} 
     WHERE ${COL_MOVIE_NO} = #{movie_no} and ${COL_USER_NO} = #{user_no}
    </delete>
    
    <select id="selectAllScore" resultType="Object">
		SELECT ${COL_SCORE} FROM ${TABLE_SCORES}
		WHERE ${COL_MOVIE_NO} = #{movie_no}
	</select>

 	<insert id="insertAverage">
    INSERT INTO ${TABLE_AVERAGES} (${COL_AVERAGE}, ${COL_MOVIE_NO}, ${COL_AVERAGE_UPDATE_TIME}) 
    VALUES (#{average}, #{movie_no}, sysdate)
    </insert>
    
    <delete id="deleteAverage">
    DELETE FROM ${TABLE_AVERAGES} 
     WHERE ${COL_MOVIE_NO} = #{movie_no}
    </delete>
    
    <select id="selectAllMovies" resultType="Object">
		SELECT ${COL_MOVIE_NO} FROM ${TBL_MOVIES}
		ORDER BY ${COL_MOVIE_NO} DESC
	</select>

</mapper>