<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.pjt.mapper.UserMapper">

	<!-- 회원가입 -->
	<insert id="insert">
	INSERT INTO ${TABLE_USERS} (${COL_USER_ID}, ${COL_USER_NICKNAME}, ${COL_USER_PWD}, ${COL_USER_EMAIL}, ${COL_USER_POSITION})
	VALUES (#{user_id}, #{user_nickname}, #{user_pwd}, #{user_email}, 'C')
	</insert>
	
	<!-- 중복 아이디 체크 and 로그인시 아이디 비교 --> 
	<select id="selectByUserId" resultType="User">
	SELECT * FROM ${TABLE_USERS} 
	WHERE ${COL_USER_ID} = #{user_id}
	</select>
	
	<!-- 중복 닉네임 체크 -->
	<select id="selectByNickname" resultType="User">
	SELECT * FROM ${TABLE_USERS} 
	WHERE ${COL_USER_NICKNAME} = #{user_nickname}
	</select>
	
	<!-- 중복 이메일 체크 -->
	<select id="selectByEmail" resultType="User">
	SELECT * FROM ${TABLE_USERS} 
	WHERE ${COL_USER_EMAIL} = #{user_email}
	</select>
	
	<!-- 회원 정보 확인 -->
	<select id="userInfoByNickname" resultType="User">
	SELECT * FROM ${TABLE_USERS}
	WHERE ${COL_USER_NICKNAME} = #{user_nickname}
	</select>
	
    <!-- 회원 인증키 (난수 생성후 주입) -->
    <update id="getKey">
    UPDATE ${TABLE_USERS} 
    SET ${COL_USER_KEY} = #{user_key} where ${COL_USER_NICKNAME} = #{user_nickname}
    </update> 
    
    <!-- 회원 인증키 (난수) Y로 변경 (계정 유효화) -->
    <update id="alter_userKey">
    UPDATE ${TABLE_USERS} 
    SET ${COL_USER_KEY} = 'Y' where ${COL_USER_NICKNAME} = #{user_nickname} and ${COL_USER_KEY} = #{key}
    </update> 
    
    <!-- 회원 인증키 (Y) L로 변경 (계정 lock) -->
    <update id="lock_userKey">
    UPDATE ${TABLE_USERS} 
    SET ${COL_USER_KEY} = 'L' where ${COL_USER_NICKNAME} = #{user_nickname}
    </update> 
    
    <!-- 닉네임으로 비번 재설정 -->
    <update id="resetPwd">
    UPDATE ${TABLE_USERS} 
    SET ${COL_USER_PWD} = #{user_pwd} where ${COL_USER_NICKNAME} = #{user_nickname}
    </update> 
    
     <!-- 잠긴 계정 유효화 -->
    <update id="alter_userKey2">
    UPDATE ${TABLE_USERS} 
    SET ${COL_USER_KEY} = 'Y' where ${COL_USER_NICKNAME} = #{user_nickname} and ${COL_USER_KEY} = 'L'
    </update> 
    
    <!-- 회원 닉네임 변경 -->
    <update id="userInfoUpdate">
	UPDATE ${TABLE_USERS}
	SET ${COL_USER_NICKNAME} = #{user_nickname} where ${COL_USER_ID} = #{user_id}
    </update>
    
	<!-- 회원 탈퇴 -->
	<delete id="delete">
	DELETE FROM ${TABLE_USERS}
	WHERE ${COL_USER_NICKNAME} = #{user_nickname}
		AND ${COL_USER_PWD} = #{user_pwd}
	</delete>
	
	<!-- 마이페이지 관련 내용-->
	<!-- 내 게시글 조회 -->
	<select id="mypageBoardInfo" resultMap="mypageBoardResult">
	SELECT U.USER_NICKNAME, U.USER_NO, B.BOARD_NO, B.BOARD_TITLE, B.BOARD_UPDATE_TIME
	FROM USERS U
	LEFT OUTER JOIN BOARDS B
	ON U.USER_NICKNAME = B.USER_NICKNAME
	WHERE U.USER_NICKNAME = #{USER_NICKNAME}
	</select>
	
	<resultMap type="User" id="mypageBoardResult">
		<result property="user_nickname" column="USER_NICKNAME"/>
		<result property="user_no" column="USER_NO"/>
		<collection property="myBoardList" resultMap="myBoardList"/>
	</resultMap>
	
	<resultMap type="Board" id="myBoardList">
		<result property="board_no" column="BOARD_NO"/>
		<result property="board_title" column="BOARD_TITLE"/>
		<result property="board_update_time" column="BOARD_UPDATE_TIME"/>
	</resultMap>
	
	<!-- 내 게시글 댓글 조회 -->
	<select id="mypageBoardReplyInfo" resultMap="mypageBoardReplyResult">
	SELECT U.USER_NICKNAME, U.USER_NO, BR.BOARD_NO, BR.BOARD_REPLY_NO,
    BR.BOARD_REPLY_CONTENT, BR.BOARD_REPLY_UPDATE_TIME
    from USERS U
    LEFT OUTER JOIN BOARD_REPLIES BR
	ON U.USER_NICKNAME = BR.USER_NICKNAME
	WHERE U.USER_NICKNAME = #{USER_NICKNAME}
	</select>
	
	<resultMap type="User" id="mypageBoardReplyResult">
		<result property="user_nickname" column="USER_NICKNAME"/>
		<result property="user_no" column="USER_NO"/>
		<collection property="myBoardReplyList" resultMap="myBoardReplyList"/>
	</resultMap>
	
	<resultMap type="BoardReply" id="myBoardReplyList">
		<result property="board_no" column="BOARD_NO"/>
		<result property="board_reply_no" column="BOARD_REPLY_NO"/>
		<result property="board_reply_content" column="BOARD_REPLY_CONTENT"/>
		<result property="board_reply_update_time" column="BOARD_REPLY_UPDATE_TIME"/>
	</resultMap>
	
	<!-- 내 이벤트 댓글 조회 -->
	<select id="mypageEventReplyInfo" resultMap="mypageEventReplyResult">
	SELECT U.USER_NICKNAME, U.USER_NO, ER.EVENT_NO, ER.EVENT_REPLY_NO,
    ER.EVENT_REPLY_CONTENT, ER.EVENT_REPLY_UPDATE_TIME
    from USERS U
    LEFT OUTER JOIN EVENT_REPLIES ER
	ON U.USER_NICKNAME = ER.USER_NICKNAME
	WHERE U.USER_NICKNAME = #{USER_NICKNAME}
	</select>
	
	<resultMap type="User" id="mypageEventReplyResult">
		<result property="user_nickname" column="USER_NICKNAME"/>
		<result property="user_no" column="USER_NO"/>
		<collection property="myEventReplyList" resultMap="myEventReplyList"/>
	</resultMap>
	
	<resultMap type="EventReply" id="myEventReplyList">
		<result property="event_no" column="EVENT_NO"/>
		<result property="event_reply_no" column="EVENT_REPLY_NO"/>
		<result property="event_reply_content" column="EVENT_REPLY_CONTENT"/>
		<result property="event_reply_update_time" column="EVENT_REPLY_UPDATE_TIME"/>
	</resultMap>
	
	<!-- 내 영화 댓글 조회 -->
	<select id="mypageMovieReplyInfo" resultMap="mypageMovieReplyResult">
	SELECT U.USER_NICKNAME, U.USER_NO, MR.MOVIE_NO, MR.MOVIE_REPLY_NO,
    MR.MOVIE_REPLY_CONTENT, MR.MOVIE_REPLY_UPDATE_TIME
    from USERS U
    LEFT OUTER JOIN MOVIE_REPLIES MR
	ON U.USER_NICKNAME = MR.USER_NICKNAME
	WHERE U.USER_NICKNAME = #{USER_NICKNAME}
	</select>
	
	<resultMap type="User" id="mypageMovieReplyResult">
		<result property="user_nickname" column="USER_NICKNAME"/>
		<result property="user_no" column="USER_NO"/>
		<collection property="myMovieReplyList" resultMap="myMovieReplyList"/>
	</resultMap>
	
	<resultMap type="MovieReply" id="myMovieReplyList">
		<result property="movie_no" column="MOVIE_NO"/>
		<result property="movie_reply_no" column="MOVIE_REPLY_NO"/>
		<result property="movie_reply_content" column="MOVIE_REPLY_CONTENT"/>
		<result property="movie_reply_update_time" column="MOVIE_REPLY_UPDATE_TIME"/>
	</resultMap>
	
	<!-- 내 좋아요 영화 조회 -->
	<select id="mypageMovieLikeInfo" resultMap="mypageMovieLikeResult">
	SELECT U.USER_NICKNAME, U.USER_NO, L.MOVIE_NO, L.LIKE_UPDATE_TIME
    from USERS U
    LEFT OUTER JOIN LIKES L
	ON U.USER_NO = L.USER_NO
	WHERE U.USER_NICKNAME = #{USER_NICKNAME}
	</select>
	
	<resultMap type="User" id="mypageMovieLikeResult">
		<result property="user_nickname" column="USER_NICKNAME"/>
		<result property="user_no" column="USER_NO"/>
		<collection property="myMovieLikeList" resultMap="myMovieLikeList"/>
	</resultMap>
	
	<resultMap type="Movie" id="myMovieLikeList">
		<result property="movie_no" column="MOVIE_NO"/>
		<result property="like_update_time" column="LIKE_UPDATE_TIME"/>
	</resultMap>

</mapper>
